

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#banner	{ 
	width: 1130px; 
	height: 490px; 
	background-image: url("signup.jpg");
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 40s linear infinite;
}



/* Bird Code */
@keyframes animatedBird {
	0% { background-position: 0 25%; }
	100% { background-position: 100% 0; }
}
@-moz-keyframes animatedBird {
	0% { background-position: 0 25%; }
	100% { background-position: 100% 0; }
}
@-webkit-keyframes animatedBird {
	0% { background-position: 0 25%; }
	100% { background-position: 100% 0; }
}
@-ms-keyframes animatedBird {
	0% { background-position: 0 25%; }
	100% { background-position: 100% 0; }
}
@-o-keyframes animatedBird {
	0% { background-position: 0 25%; }
	100% { background-position: 100% 0; }
}
 
.bird {
	width: 100%; 
	height: 100%;	
	position: absolute;
	background-image: url("bird.gif");
	background-repeat: no-repeat;
 
	animation: animatedBird 10s linear infinite;
	-moz-animation: animatedBird 10s linear infinite;
	-webkit-animation: animatedBird 10s linear infinite;
	-ms-animation: animatedBird 10s linear infinite;
	-o-animation: animatedBird 10s linear infinite;
}